name: ci

on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: install
        run: npm install

      - name: lint
        id: formatCheck
        run: npm run lint:check

      - name: build
        id: prepack
        run: npm run prepack

      - name: Add PR Comment
        uses: actions/github-script@v7
        env:
          summary: ${{ steps.prepack.outputs.summary }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const summary = JSON.parse(process.env.summary);
            let table = '| Language | Status | Missing keys |\n| --- | --- | --- |\n';
            summary.slice(1).forEach(row => {
              table += `| ${row[0]} | ${row[1]} | ${row[2]} |\n`;
            });
            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Build summary: \n\n${table}`
            })
